
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; 
    color: #333;
    text-align: center;
    padding: 100px 20px;
}

h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20%;
    text-align: center;
    border-radius: 8px;
}

footer .footer-text p {
    margin: 5px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    text-align: center;
    background-color: #ffffff; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
